body{
    background: url('cal1.jpg') no-repeat center center/cover;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    color: white;
}

.row{
    margin: 8px 0;
}

.button{
    margin: 0px 3px;
    padding: 20px;
    border: 2px solid black;
    width: 60px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: rgb(155, 12, 244);
    background-color: rgb(13 152 232);
}

.row input{
    width: 270px;
    background-color: rgb(155, 12, 244);
    background-color: rgb(13 152 232);
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 7px 0px;
    border: 2px solid black;
    border-radius: 4px;
}